# Review Question 1

In [22]:
christ = "Hello Christ"
print(f"Length of '{christ}': {len(christ)}")

Length of 'Hello Christ': 12

In [35]:
string1 = "Good"
string2 = "buntag"
concatenated = string1 + string2
print(f"\nConcatenated without space: '{concatenated}'")

Concatenated without space: 'Goodbuntag'

In [19]:
with_space = string1 + " " + string2
print(f"Concatenated with space: '{with_space}'")

Concatenated with space: 'Good Morning'

In [21]:
long_string = "The quick brown fox jumped over the lazy dog. #1234567890!"
fox = long_string[16:19]
print(fox)

fox

# Review Question 2

In [2]:
strings = ["Animals", "Badger", "Honey Bee", "Honeybadger"]
for s in strings:
    print(s.lower())

animals
badger
honey bee
honeybadger

In [3]:
strings = ["Animals", "Badger", "Honey Bee", "Honeybadger"]
for s in strings:
    print(s.upper())

ANIMALS
BADGER
HONEY BEE
HONEYBADGER

In [4]:
string1 = " Filet Mignon"
string2 = "Brisket "
print(string1.strip())
print(string2.strip())

Filet Mignon
Brisket

In [6]:
string1 = "Becomes"
string2 = "becomes"
print(string1.startswith("be"))
print(string2.startswith("be"))

False
True

In [5]:
string1 = "Becomes"
string2 = "becomes"

string1_modified = "be" + string1[1:].lower()
string2_modified = "be" + string2[2:]
print(string1_modified)  
print(string2_modified)

beecomes
becomes

# Review Question 3

In [25]:
user = input("Please enter something: ")
print("You entered:", user)

Please enter something:  i love cebu

You entered: i love cebu

In [37]:
usert = input("Please enter something: ")
print("This is the lowercase version:", usert.lower())

Please enter something:  MINECRAFT

This is the lowercase version: minecraft

In [38]:
user_input = input("Enter some characters: ")
num_characters = len(user_input)
print(f"You entered {num_characters} characters.")

Enter some characters:  Batman

You entered 6 characters.

# Review Question 4

In [39]:
name = input("Tell me your Naem: ")

if name:
    first_letter = name[0].upper()
    print("The first letter of your name is:", first_letter)
else:
    print("You didn't enter a name.")

Tell me your Naem:  hanz

The first letter of your name is: H

# Review Question 5

In [40]:
number_str = "143"
number_int = int(number_str)
result = number_int * 5
print(result)

715

In [41]:
number_str = "143.5"
number_float = float(number_str)
result = number_float * 5
print(result)

717.5

In [43]:
string_obj = "Hallo"
int_obj = 456

print(string_obj + " " + str(int_obj))

Hallo 456

In [44]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")

result = float(num1) * float(num2)

print("The result is:", result)

Enter the first number:  123
Enter the second number:  321

The result is: 39483.0

# Review Question 6

In [1]:
print("AAA".find("a"))

-1

In [7]:
human1 = "Somebody said something to Samantha"
print(human1.replace("s","y"))

Somebody yaid yomething to Samantha

In [24]:
inpT = "Please input a String:"
inpL = "Enter the letter you want to find:"

print(inpT)
name = input()

print(inpL)
letter = input()

position = name.find(letter)

if position != -1:
    print(f"You found it at position {position}")
else:
    print("You did not find the letter.")

Please input a String:

 wow

Enter the letter you want to find:

 o

You found it at position 1

In [25]:
text = input("Enter some text: ")

text = text.lower()

text = text.replace('a', '4')
text = text.replace('b', '8')
text = text.replace('e', '3')
text = text.replace('l', '1')
text = text.replace('o', '0')
text = text.replace('s', '5')
text = text.replace('t', '7')

print(text)

Enter some text:  i like to eat eggs and spam.

i 1ik3 70 347 3gg5 4nd 5p4m.